<!DOCTYPE html>
<%- include('../partials/head'); %>
<body class="container">
    <%- include('../partials/header', {pagina: 'SOBRE'}); %>
        <main>
            <div class="jumbotron text-center">
                <h1>
                    Sobre Mim
                </h1>

                <p>
                    Oi, sou Keven, estudante de progrmação Front-End.
                </p>
            </div>
        </main>
    <%- include('../partials/footer'); %>
</body>
</html>